<%layout("/layouts/boilerplate.ejs")-%>
<body>
    <h2>All Listings</h2>
    <form method="GET" action="/listings/new">
        <button>Create a new listing</button>
    </form>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
         <%for(let list of alllistings){ %>
    <a href="/listings/<%=list.id%>" class="card-link">
    <div class="card col" >
        
  <img src="<%=list.image.url%>" class="card-img-top" alt="listing-image" style="height: 20rem;">
  <div class="card-img-overlay"><i class="fa-regular fa-heart"></i></div>
  <div class="card-body">
    <b><p class="card-text"><%= list.title%> 
    <br/> Price:</b>&#x24;<%=list.price.toLocaleString("en-US")%>
     <br>
      <b> Location:</b> <%=list.location%>
     <br/>
     <b>Country: </b>  <%=list.country%>
    </p>
    
   </div>
</div>
    </a>
<%}%>
</body>


