<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindmyStay</title>
</head>
<body>
    <h2>All Listings</h2>
    <form method="GET" action="/listings/new">
        <button>Create a new listing</button>
    </form>
<ul>
 <%for(let list of alllistings){ %>
    <li><a href="/listings/<%=list._id%>"><%= list.title%></a></li>
    <p><%= list.description%></p>
    <img src="<%=list.image.url%>" alt="">
    <p>&#x24;<%= list.price.toLocaleString("en-US")%></p>
    <p><%= list.location%></p>
    <p><%= list.country%></p>
    
<%}%>
</ul>

    
</body>
</html>

